.units-container { 
  width: 80px;
  background-color: aliceblue;
  height: 50%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.unit-section {
  width: max-content;
  text-align: center;
  padding-top: 50px;
  margin-bottom: 2.5rem;
}
.label, .value {
  margin: 0px;
  padding: 0px;
}
.charts-container {
  width: 100%;
  overflow-x: auto;
  margin-top: 20px;
}